<!-- NAV BAR -->
<section class="navContainer">
    <header class="header" id="header">
        <nav class="navbar containerNormal">
            <img src="/images/logo.png" alt="" class="brand">
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <div class="menu" id="menu">
                <ul class="menu-inner">
                    <li class="menu-item"><a href="/" class="menu-link">Home</a></li>
                    <li class="menu-item"><a href="/pakketpunten" class="menu-link">Pakketpunten</a></li>
                    <li class="menu-item"><a href="/over-ons" class="menu-link">Over Ons</a></li>
                    <li class="menu-item"><a href="/contact" class="menu-link">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
</section>

<!-- HERO -->
<section class="heroContainer" data-aos="fade-down" data-aos-duration="500" data-aos-offset="-100000">
    <div class="container-fluid col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6" data-aos="fade-up" data-aos-delay="400" data-aos-offset="-100000" data-aos-duration="500">
                <img src="{{ hero_image }}" class="d-block mx-lg-auto img-fluid" alt="{{ hero_image.alt }}" loading="lazy">
            </div>
            <div class="col-lg-6 heroTextMain" data-aos="fade-up" data-aos-delay="400" data-aos-offset="-100000" data-aos-duration="500">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h1 class="fw-bold display-5">{{ hero_title }}</h1>
                    </div>
                </div>

                <div class="lc-block mb-3">
                    <div editable="rich">
                        <p class="lead">
                            {{ hero_text }}<br>
                        </p>
                    </div>
                </div>

                <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-light px-4 me-md-2" href="#main-content" role="button">{{ button_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAIN CONTENT -->
<section class="" id="main-content">
    <div class="container extraSpaceContainer"></div>
    <div class="container-fluid welcome-section" data-aos="fade-up" data-aos-delay="50">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center" data-aos="fade-up" data-aos-delay="150">
                <p>{{ content }}</p>
            </div>
        </div>
    </div>


    <!-- Contact Form -->
    <div class="extraSpaceContainer"></div>
    <div class="container-fluid mainContentContainer" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            <div class="col text-center">
                <h2>{{ contact_form_header }}</h2>
                <p>{{ contact_form_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="/contact-submit" method="post" id="contactForm" class="styled-form">
                    <textarea name="contactText" form="contactForm" class="large-textarea" placeholder="Laat je creativiteit los." required></textarea>
                    <div class="small-fields">
                        <input type="text" name="title" placeholder="Onderwerp" required>
                        <input type="email" name="email" placeholder="E-mail" required>
                        <input type="text" name="name" placeholder="Je naam" required>
                        <button type="submit">Verstuur</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <div class="container-fluid footerContainer" data-aos="fade-down" data-aos-offset="-200" data-aos-delay="50">
        <div class="row" style="padding-top: 50px;">
            <div class="col-md text-center my-auto">
                <h3>Locatie & Contact:</h3>
                <ul>
                    <li>Westwijkplein 76 - 78</li>
                    <li>1187 LV Amstelveen</li>
                    <li><a href="tel:0206476688">020 - 6476688</a></li>
                    <li><a href="mailto:de.twister@planet.nl">de.twister@planet.nl</a></li>
                </ul>
            </div>
            <div class="col-md text-center my-auto openingsTijden">
                <h3>Openingstijden:</h3>
                <ul>
                    <li>Maandag 11:00 - 18:00</li>
                    <li>Dinsdag 9:00 - 18:00</li>
                    <li>Woensdag 9:00 - 18:00</li>
                    <li>Donderdag 9:00 - 18:00</li>
                    <li>Vrijdag 9:00 - 18:00</li>
                    <li>Zaterdag 9:00 - 17:00</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>© Copyright 2020 | Powered by Twister</p>
            </div>
        </div>
    </div>
</section>

{{ author }}