@media only screen and (min-width: 1250px) {
    .mobile {
        display: none;
    }

    body {
        background-color: #3C2C8F;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .titles > p {
        color: #3C2C8F;
        font-weight: bold;
        font-size: 3rem;
    }

    .logo {
        max-height: 16vh;
    }

    .door {
        max-height: 64vh;
        width: 42vw;
    }
}

@media only screen and (max-width: 1249px) {
    .desktop {
        display: none;
    }

    body {
        background-color: #3C2C8F;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .card-clickable {
        background-color: #4f3daf;
        color: #fff3cd;
        font-weight: bold;
        font-size: 2rem;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .cards {
        margin-top: 5vh;
        margin-bottom: 5vh;
        background-color: #261c65;
        color: #fff3cd;
        font-weight: bold;
        font-size: 2rem;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}
