.extraSpaceContainer {
    height: 10vh;
}

.welcome-section h2 {
    padding-top: 15px;
}

@media screen and (min-width: 800px) {
    .image-slider-section-text {
        padding-left: 15%;
        padding-right: 15%;
    }
}
