.heroContainer {
    width: 100%;
    height: 100vh;
    margin-top: 4.25rem;
    /* background-color: var(--color-black-500); */
    background-color: var(--twister-brand-color);
}

.heroContainer p {
    color: var(--color-white-200) !important;
}

.heroContainer h1 {
    font-weight: bold;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
}

.heroTextMain {
    padding-left: 10%;
}

@media screen and (max-width: 800px) {
    .heroTextMain {
        padding-top: 40px;
        padding-left: 15px;
    }
    .heroContainer {
        height: 100vh;
    }
}