.newsletterContainer {
    background-color: var(--color-black-200);
    color: var(--color-white-200);
    padding-bottom: 20px;
    padding-top: 3vh;
}

.newsletterContainer p {
    color: var(--color-white-200);
}

.newsletterContainer input[type=text] {
    background-color: var(--color-black-200);
    border: none;
    border-bottom: 4px solid var(--color-white-200);
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: var(--color-white-200);
}

.newsletterContainer input[type=text]:focus,
input[type=text]:hover {
    outline: none;
    border-bottom: 4px solid var(--twister-brand-color);
}

.newsletterContainer input[type=submit] {
    background-color: var(--color-black-200);
    border: none;
    color: var(--color-white-200);
    font-size: 2rem;
}
